@model WishList.Models.Item

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h3>Add item to wishlist</h3>

<form asp-action="Create">

    <input asp-for="Description" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <button type="submit">Add Item</button>

</form>